<div class="busqueda">
  <h3 class="title">Filtrar noticias por país o categoría</h3>
  <ng-select [clearable]="false"

  [placeholder]="'seleccione...'">
  <!-- <ng-option *ngFor="let item of listProducts" [value]="item">{{item.name}}</ng-option> -->
  </ng-select>

  <ng-select [clearable]="false"

  [placeholder]="'seleccione...'">
  <!-- <ng-option *ngFor="let item of listProducts" [value]="item">{{item.name}}</ng-option> -->
  </ng-select>

  <button type="submit" class="btn ">
    Buscar
  </button>

</div>
