<div class="busqueda">
  <form (ngSubmit)="buscarNoticia()">
    <h3 class="title">Filtrar noticias por país o categoría</h3>
    <ng-select [clearable]="false" [placeholder]="'seleccione...'" [(ngModel)]="categoriaSeleccionada" [ngModelOptions]="{standalone: true}">
      <ng-option *ngFor="let item of lsCategorias" [value]="item.value">{{item.nombre}}</ng-option>
    </ng-select>
    <ng-select [clearable]="false" [placeholder]="'seleccione...'" [(ngModel)]="paisSeleccionado" [ngModelOptions]="{standalone: true}">
      <ng-option *ngFor="let item of lsPaises" [value]="item.value">{{item.nombre}}</ng-option>
    </ng-select>
    <button type="submit" class="btn ">
      Buscar
    </button>
  </form >
</div>
