.busqueda{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  ng-select{
    margin: 20px 0px;
  }
  button{
    color: white;
    background-color: #375a7f;
    width: 100%;
    font-size: 1.5rem;
  }
}
